body {
    /* Ta bort alla background-rader härifrån! */
    font-family: "PT Sans", sans-serif;
    
    /* Detta behövs för att innehållet ska fungera bra med lagret bakom */
    position: relative;
    min-height: 100vh;
}


body::before {
    content: "";
    position: fixed; /* Låser bakgrunden så den täcker hela fönstret */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/static/images/landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    filter: blur(8px);
    /* Lägg detta lager BAKOM texten */
    z-index: -1;

    transform: scale(1.1);
}

#content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    align-items: center;
}

#content-box > a {
    display: block;
    width: 50%;
    text-align: center;
}
h1 {
    color: rgb(106, 57, 86);
    opacity: 100%;
    text-align: center;
    margin-bottom: 5px;
}
h2 {
    text-align: center;
    color: rgb(106, 57, 86);
    opacity: 100%;
}
h3 {
    text-align: center;
    color: rgb(106, 57, 86);
    opacity: 100%;
}
h3 > a {
    text-align: center;
    color: rgb(106, 57, 86);
    opacity: 100%;
}
h3 a:visited {
    opacity: 100%;
    color: rgb(93, 0, 54)
}
h3 a:hover {
    cursor: pointer;
    color: rgb(137, 80, 114);
    opacity: 100%;
}
#h1-underline {
    width: 20%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#info-box {
    background-color: rgb(255, 255, 255, 0.5);
    width: 90%;
    border-radius: 10px;
    padding-bottom: 40px;
    margin-top: 40px;
}

a > #logo {
    width: 50%;
    align-items: center;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

footer > a {
    color: rgb(255, 195, 230);
    opacity: 0.7;
    text-decoration: none;
    margin: 5px 0;
}

footer > a:hover {
    text-decoration:wavy underline;
    opacity: 1;

}

p {
    color: rgb(106, 57, 86);
    opacity: 100%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (width <= 650px) {
    body{
        background-size:auto;

    }
    #content-box {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        align-items: center;
    }
    #info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        margin-top: 0%;
    }


    a > #logo {
    width: 100%;
    align-items: center;
    }

    hr {
        width: 80%;  
    }  
    
    
}