body {
    background-image: url("/static/images/landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "PT Sans", sans-serif;
}
#content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}
h1 {
    color: rgb(255, 195, 230);
    opacity: 70%;
    text-align: center;
    margin-bottom: 5px;
}
h2 {
    text-align: center;
    color: rgb(255, 195, 230);
    opacity: 70%;
}
h3 {
    text-align: center;
    color: rgb(255, 195, 230);
    opacity: 70%;
}
h3 > a {
    text-align: center;
    color: rgb(255, 195, 230);
    opacity: 70%;
}
h3 a:visited {
    opacity: 70%;
    color: rgb(93, 0, 54)
}
h3 a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    opacity: 100%;
}
#h1-underline {
    width: 20%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
hr {
  border: 0;               /* Ta bort standardkanten */
  height: 2px;             /* Tjocklek */
  background: rgb(255, 195, 230);     /* Färg */
  width: 30%;              /* Procentuell bredd */
  margin-top: 0px;
  margin-bottom: 10px;      
}
#logo {
    width: 50%;
}
.search-container {
    height: auto;
    width: 20%;
}
.search-container > form {
    position: relative;
    width: 100%;
}
.textbox-button-field {
    position: relative;
    width: 100%;
}
#flightNumber {
    width: 100%;
    min-height: 30px;
    border-radius: 15px;
    border: 1px rgb(255, 195, 230) solid;
    box-sizing: content-box;
}
.checkbox-labels {
    color: rgb(255, 195, 230);
    opacity: 70%;
}
.textbox-button-field button[type=submit]{
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: rgb(255, 195, 230);
    cursor: pointer;
    font-size: 18px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
footer > a {
    color: rgb(255, 195, 230);
    opacity: 70%;
    text-decoration: none;

}
#empty-p {
    margin-top: 0px;
    padding: 0px;
    color: rgb(255, 195, 230);
    opacity: 70%;
}
p {
    color: rgb(255, 195, 230);
    opacity: 70%;
    text-align: center;
}

@media screen and (width <= 650px) {
    body{
        background-size:auto;

    }
    .search-container {
        height: auto;
        width: 80%;
    }
    hr {
        width: 80%;  
    }    
}