/* --- style.css --- */
body {
    background-image: url("/static/images/landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "PT Sans", sans-serif;
    margin: 0; 
}


#content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    min-height: auto;
}


h1 {
    color: rgb(255, 195, 230);
    opacity: 0.7; 
    text-align: center;
    margin-bottom: 5px;
}

h2, h3 {
    text-align: center;
    color: rgb(255, 195, 230);
    opacity: 0.7;
}

h3 > a {
    text-align: center;
    color: rgb(255, 195, 230);
    opacity: 0.7;
}


h3 a:visited {
    opacity: 0.7;
    color: rgb(93, 0, 54);
}


h3 a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    opacity: 1;
}


hr {
    border: 0;
    height: 2px;
    background: rgb(255, 195, 230);
    width: 30%;
    margin-top: 0px;
    margin-bottom: 10px;
}


#logo {
    width: 50%;
}


.search-container {
    height: auto;
    width: 20%;
    min-width: 300px; 
    
}


.search-container > form {
    position: relative;
    width: 100%;
}


.textbox-button-field {
    position: relative;
    width: 100%;
    
}


#flightNumber {
    width: 100%;
    min-height: 30px;
    border-radius: 15px;
    border: 1px rgb(255, 195, 230) solid;
    box-sizing: border-box; 
    padding: 5px 10px;
}


.checkbox-labels {
    color: rgb(255, 195, 230);
    opacity: 0.7;
}

/* Behållaren för alla genres */
.checkbox-group {
    display: flex;
    flex-wrap: wrap; /* Viktigt! Låter knapparna radbrytas snyggt */
    justify-content: center;
    gap: 10px; /* Mellanrum mellan knapparna */
    margin-top: 15px;
    width: 100%;
}

/* Dölj den vanliga fula checkbox-rutan helt */
.checkbox-group input[type="checkbox"] {
    display: none;
}

/* Styla texten/etiketten så den ser ut som en knapp */
.checkbox-labels {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.1); /* Genomskinlig bakgrund */
    border: 1px solid rgb(255, 195, 230);
    border-radius: 20px; /* Runda hörn */
    color: rgb(246, 233, 241);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease; /* Mjuk animation */
    user-select: none; /* Gör att man inte markerar texten när man klickar snabbt */
}

/* Hover-effekt (när man håller musen över) */
.checkbox-labels:hover {
    background-color: rgba(255, 195, 230, 0.2);
    border-color: #fff;
    color: #fff;
}

/* VIKTIGT: Detta händer när man klickar (när checkboxen är "checked") */
.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #484396; /* Din lila färg (eller använd rosa #d63384) */
    border-color: #484396;
    color: white;
    transform: scale(1.05); /* Knappen växer lite för att visa att den är vald */
    box-shadow: 0 0 10px rgba(72, 67, 150, 0.5); /* Snyggt glow */
}

.textbox-button-field button[type=submit] {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: rgb(255, 195, 230);
    cursor: pointer;
    font-size: 18px;
}

/* Spinner styling */
#loading-spinner {
    display: none; /* Dold, visas via JS */
    text-align: center;
    margin-top: 30px;
    color: rgb(255, 195, 230);
}

#loading-spinner i {
    font-size: 48px; 
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

footer > a {
    color: rgb(255, 195, 230);
    opacity: 0.7;
    text-decoration: none;
    margin: 5px 0;
}

footer > a:hover {
    text-decoration:wavy underline;
    opacity: 1;

}

#empty-p {
    margin-top: 0px;
    padding: 0px;
    color: rgb(255, 195, 230);
    opacity: 0.7;
}


p {
    color: rgb(255, 195, 230);
    opacity: 0.7;
    text-align: center;
}

/* Mobil-anpassning */
@media screen and (max-width: 650px) {
    body {
        background-size: auto;
    }
    .search-container {
        height: auto;
        width: 80%;
    }
    hr {
        width: 80%;
    }
}