<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Espotifly</title>
    <link rel="icon" type="image/png" href="static/images/bibble.png">
    <link href="/static/css/about_us.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Library for search looking glass symbol-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Font family link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    
    <div id="content-box">
        <a href="/">
            <img src="/static/images/new_logo1.png" id="logo" alt="Logga leder tillbaka till startsidan">
        </a>
    
        <div id="info-box">
            <h1>About EspotiFly</h1>
            <p>
                The goal of EspotiFly is to create a mash-up webbservice consisting of different APIs.
            </p>
            <h2>
                APIs:
            </h2>
            <h3>
                <a href="https://aviationstack.com/">Aviationstack API</a>
            </h3>
            <p>
                A flight tracker and airport timetable data web service that is JSON-based and engineered to deliver global aviation data. Information such as real-time flight status, historical data and future schedules is provided. Furthermore it offers comprehensive lookup information on airlines, airports, airplanes, routes, and more. In this project it is used to provide us with flight data wich we can combine with other APIs.
            </p>

            <h3>
                <a href="https://musicbrainz.org/doc/MusicBrainz_API">MusicBrainz API</a>
            </h3>
            <p>
                MusicBrainz API is an interface to the MusicBrainz database. It is aimed at developers of media players, CD rippers, taggers, and other applications requiring music metadata.
            </p>

            <h3>
                <a href="https://developer.spotify.com/documentation/web-api">Spotify API</a>
            </h3>
            <p>
                Spotify Web API enables the creation of applications that can interact with Spotify's streaming service, such as retrieving content metadata, creating and managing playlists, or controlling playback. In this project it is used to generate playlists.
            </p>

            <h3>
                <a href="https://api.wikimedia.org/wiki/Main_Page">Wikimedia API Portal for Wikidata</a>
            </h3>
            <p>
                Wikimedia offers various APIs that provide access to content and data from Wikimedia projects. In this project we primarily use Wikidata to give crossreference our IATA with countries.
            </p>
        </div>
    </div>
    <script type="module" src="/static/js/actionListener.js"></script>
</body>
</html>