# Default ignored files
/../../../../Webbtjänster T3/WebServicesGroup1/Untitled/.idea/shelf/
/../../../../Webbtjänster T3/WebServicesGroup1/Untitled/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Webbtjänster T3/WebServicesGroup1/Untitled/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Webbtjänster T3/WebServicesGroup1/Untitled/.idea/dataSources/
/../../../../Webbtjänster T3/WebServicesGroup1/Untitled/.idea/dataSources.local.xml
