# PyCharm / IntelliJ (Ignore Settings)
.idea/
*.iml
*.iws
*.ipr

# VS Code (Ignore Settings)
.vscode/

# Python (Ignore compiler-files)
__pycache__/
*.py[cod]

# Virtual environment (Ignore the map venv)
venv/
.venv/
env/

# Mac OS (Ignore systemfiles)
.DS_Store

# SECRETS (IMPORTANT! To avoid uploading keys) 
.env