# --- PyCharm / IntelliJ (Ignorera inställningar) ---
.idea/
*.iml
*.iws
*.ipr

# --- VS Code (Ignorera inställningar) ---
.vscode/

# --- Python (Ignorera kompilator-filer) ---
__pycache__/
*.py[cod]

# --- Virtuell Miljö (Ignorera mappen venv) ---
venv/
.venv/
env/

# --- Mac OS (Ignorera systemfiler) ---
.DS_Store

# --- Hemligheter (VIKTIGT! Ladda aldrig upp nycklar) ---
.env